APP_ENVIRONMENT_NAME = Base

SUPABASE_BIRD_BUCKET = bird
SUPABASE_IDENTIFICATION_BUCKET = identification-assets
SUPABASE_IDENTIFICATION_CATEGORY_MANIFEST_PATH = identification_categories_manifest.json
SUPABASE_IDENTIFICATION_MANIFEST_PATH = identification_manifest.json
SUPABASE_IDENTIFICATION_SHAPES_BUCKET = identification-shapes
SUPABASE_IDENTIFICATION_SHAPES_MANIFEST_PATH = identification_shapes_manifest.json
SUPABASE_OTP_LENGTH = 6
SUPABASE_OTP_RESEND_SECONDS = 60
SUPABASE_REDIRECT_HOST = auth
SUPABASE_REDIRECT_PATH = /callback
SUPABASE_REDIRECT_SCHEME = skytrails
